    <div class="container">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
            <p>My name is Faisal A Mohammed Abdulateef, and I am currently studying an Advanced Diploma in Computer Programming & Analysis at Seneca College School of Software Design & Data Science. <br>
              I am very interested in Software Engineering and Web Development, and I have built several websites using libraries such as React. <br> I also have experience with Object-Oriented languages such as C++ and Java.<br>
              My current goals are to get better at Object-Oriented programming and to intern at a big tech company as a Software Engineer or a Web Developer, as I have experience in these two roles.<p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned for future updates...</p>
        </aside>
      </div>
    </div>